<h1>Login</h1>

@if (errorMessage) {
  <div class="alert alert-danger">
    <strong>Error</strong> {{ errorMessage }}.
  </div>
}
 
<div class="container mt-3">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3 mt-3">
      <input type="text" class="form-control" placeholder="Email" formControlName="email" />
    </div>
    <div class="mb-3 mt-3">
      <input type="password" class="form-control" placeholder="Password" formControlName="password" />
    </div>
    <div>
      <button class="btn btn-primary" type="submit">Sign In</button>
    </div>
  </form>

</div>

